.effect {
    transition: opacity .4s, transform .4s, top .2s, left .2s, width .2s, height .2s;
}

.colorEffect {
    filter: "grayscale(1)";
    opacity: 0.1;
}

.colorEffect.active {
    filter: "grayscale(0)";
    opacity: 1;
}

.zoomEffect {
    filter: "grayscale(1)";
    opacity: 0.2;
}

.zoomEffect.active {
    z-index: 1000 !important;
    filter: "grayscale(0)";
    opacity: 1;
    top: 10% !important;
    left: 20% !important;
    width: 60% !important;
    height: 80% !important;
}

.moveEffect {
    transition: transform .5s;
    transform: translateX(-20%);
}

.moveEffect.active {
    transform: translateX(0);
}

.flipEffect {
    transition: transform .8s;
    transform: rotateX(0deg);
}

.flipEffect.active {
    transform: rotateX(90deg);
}
