body {
    width: 100%;
    margin: 0;
    font-size: 150%;
}

.category {
    flex-wrap: wrap;
    display: flex;
    width: 100%;

}

button {
    min-width: 200px;
    flex-grow: 1;
    border: none;
    padding: 10px;
    margin: 5px;
    background: #333;
    color: white;
}

button.changeGrid {
    min-width: 30px;
}